{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://des.gis.miteco.gob.es/catalogo/api",
            "description": {
                "en": "Development Portal [RESTRICTED ACCESS]\n",
                "es": "Portal de desarrollo [ACCESO RESTRINGIDO]  \n"
            }
        },
        {
            "url": "https://pre.gis.miteco.gob.es/catalogo/api",
            "description": {
                "en": "Staging portal [RESTRICTED ACCESS]\n",
                "es": "Portal de preproducción [ACCESO RESTRINGIDO] \n"
            }
        }
    ],
    "info": {
        "title": {
            "en": "MITECO Open Data Portal - Datastore API\n",
            "es": "Portal de datos abiertos del MITECO - API Datastore\n"
        },
        "description": {
            "en": "This API provides live access to the Datastore portion of the Ministry for the Ecological Transition and the Demographic Challenge (MiTEco) Open Data Portal.\n\n\nOur staging portals are for sharing upcoming features and testing restricted network integration, and development sites are for features under development.\n",
            "es": "Esta API proporciona acceso en tiempo real a la parte del Datastore del Portal de Datos Abiertos del Ministerio para la Transición Ecológica y el Reto Demográfico (MiTEco).\n\nNuestros portales de preproducción son para compartir las próximas funciones y probar la integración en red restringida, y los sitios de desarrollo\nson para funciones en desarrollo.\n"
        },
        "termsOfService": "https://creativecommons.org/licenses/by/4.0/",
        "contact": {
            "name": {
                "en": "Ministry for the Ecological Transition and the Demographic Challenge (MiTEco)",
                "es": "Ministerio para la Transición Ecológica y el Reto Demográfico (MiTEco)"
            },
            "url": {
                "en": "https://www.miteco.gob.es/en.html",
                "es": "https://www.miteco.gob.es/"
            },
            "email": "informacionma@miteco.es"
        },
        "license": {
            "name": "CC BY 4.0",
            "url": "https://creativecommons.org/licenses/by/4.0/"
        },
        "version": "0.1"
    },
    "security": [
        {
            "default": []
        }
    ],
    "paths": null,
    "/action/datastore_search": {
        "post/get": {
            "summary": {
                "en": "Search a datastore resource\n",
                "es": "Buscar un recurso en la base de datos.\n"
            },
            "description": {
                "en": "The datastore_search action allows you to search data in a resource.\n\nWell-formatted CSV files that are uploaded (not linked) are automatically\nloaded into the datastore.\n",
                "es": "La acción de búsqueda en la base de datos permite buscar datos en un recurso. \nLos archivos CSV correctamente formateados que se cargan (y no se vinculan) se cargan automáticamente en la base de datos.\n"
            },
            "requestBody": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "resource_id": {
                                    "type": "string",
                                    "format": "uuid",
                                    "description": {
                                        "en": "id or alias of the resource to be searched against\n",
                                        "es": "El identificador o alias del recurso que se va a buscar.\n"
                                    },
                                    "examples": {
                                        "en": {
                                            "Air Quality": {
                                                "value": "499383b6-cd2a-466a-9fcf-910d3e427700"
                                            }
                                        },
                                        "es": {
                                            "Calidad del Aire": {
                                                "value": "499383b6-cd2a-466a-9fcf-910d3e427700"
                                            }
                                        }
                                    }
                                },
                                "filters": {
                                    "type": "object",
                                    "description": {
                                        "en": "matching conditions to select, `application/json` POST requests only\n",
                                        "es": "Condiciones de correspondencia que deben seleccionarse, sólo solicitudes de publicación de datos `application/json\n"
                                    },
                                    "examples": {
                                        "en": {
                                            "(Value not supported for GET requests)": {
                                                "value": ""
                                            }
                                        },
                                        "es": {
                                            "(Valor no admitido para las solicitudes GET)": {
                                                "value": ""
                                            }
                                        }
                                    }
                                },
                                "q": {
                                    "oneOf": [
                                        {
                                            "type": "string",
                                            "description": {
                                                "en": "full text query searching across all columns in each row\n",
                                                "es": "Búsqueda de texto completo en todas las columnas de cada fila.\n"
                                            }
                                        },
                                        {
                                            "type": "object",
                                            "description": {
                                                "en": "fill text search on each field given\n",
                                                "es": "Completa una búsqueda de texto en cada campo dado.\n"
                                            }
                                        }
                                    ]
                                },
                                "distinct": {
                                    "type": "boolean",
                                    "description": {
                                        "en": "return only distinct rows\n",
                                        "es": "Devuelve sólo las líneas distintas.\n"
                                    },
                                    "default": false
                                },
                                "plain": {
                                    "type": "boolean",
                                    "description": {
                                        "en": "treat as plain text query\n",
                                        "es": "Tratar como una solicitud de texto sin formato.\n"
                                    },
                                    "default": true
                                },
                                "language": {
                                    "type": "string",
                                    "description": {
                                        "en": "language of the full text query\n",
                                        "es": "Idioma de la consulta de texto completo. \n"
                                    },
                                    "default": "english"
                                },
                                "limit": {
                                    "type": "integer",
                                    "description": {
                                        "en": "maximum number of rows to return\n",
                                        "es": "Número máximo de líneas a devolver. \n"
                                    },
                                    "default": 100
                                },
                                "offset": {
                                    "type": "integer",
                                    "description": {
                                        "en": "offset this number of rows\n",
                                        "es": "Desplaza este número de líneas.\n"
                                    }
                                },
                                "fields": {
                                    "oneOf": [
                                        {
                                            "type": "string",
                                            "description": {
                                                "en": "comma-separated string of column names to return\n",
                                                "es": "Cadena separada por comas de nombres de columnas que se devolverán.\n"
                                            }
                                        },
                                        {
                                            "type": "array",
                                            "description": {
                                                "en": "list of column names to return\n",
                                                "es": "Lista de nombres de columnas a devolver. \n"
                                            }
                                        }
                                    ]
                                },
                                "sort": {
                                    "type": "string",
                                    "description": {
                                        "en": "comma-separated string of column names with sort order\n",
                                        "es": "Cadena separada por comas de nombres de columnas con orden de clasificación. \n"
                                    },
                                    "example": "reporting_period desc, line_number"
                                },
                                "include_total": {
                                    "type": "boolean",
                                    "description": {
                                        "en": "calculate and return the total number of matching rows, set to `false` for improved performance\n",
                                        "es": "Calcula y devuelve el número total de líneas coincidentes, establecido a `false` para mejorar el rendimiento.\n"
                                    },
                                    "default": true
                                },
                                "records_format": {
                                    "type": "string",
                                    "description": {
                                        "en": "the format for the records return value, set to `csv` or `tsv` for improved performance\n",
                                        "es": "El formato del valor de retorno de la carpeta, establecido en `csv` o `tsv` para un mejor rendimiento. \n"
                                    },
                                    "default": "objects",
                                    "enum": [
                                        "objects",
                                        "lists",
                                        "csv",
                                        "tsv"
                                    ]
                                }
                            }
                        },
                        "examples": {
                            "en": {
                                "Air Quality": {
                                    "value": {
                                        "resource_id": "499383b6-cd2a-466a-9fcf-910d3e427700",
                                        "q": "2020-2021",
                                        "filters": {
                                            "codine": 28
                                        }
                                    }
                                },
                                "Top 10 most recently deleted datasets": {
                                    "value": {
                                        "resource_id": "d22d2aca-155b-4978-b5c1-1d39837e1993",
                                        "sort": "\"Date and Time Deleted/Fecha y hora de eliminación\" desc"
                                    }
                                }
                            },
                            "es": {
                                "Calidad del aire": {
                                    "value": {
                                        "resource_id": "499383b6-cd2a-466a-9fcf-910d3e427700",
                                        "q": "2020-2021",
                                        "filters": {
                                            "codine": 28
                                        }
                                    }
                                },
                                "Los 10 conjuntos de datos eliminados más recientemente": {
                                    "value": {
                                        "resource_id": "d22d2aca-155b-4978-b5c1-1d39837e1993",
                                        "sort": "\"Date and Time Deleted/Fecha y hora de eliminación\" desc"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "tags": [
                "action"
            ],
            "responses": {
                "200": {
                    "description": {
                        "en": "List of packages (datasets) including all metadata available.\n",
                        "es": "Lista de paquetes (conjuntos de datos) con todos los metadatos disponibles.\n"
                    }
                }
            }
        }
    }
}